// sign up css start
.sign-up{
    background-color: #3c3637;
}

.sign-up-head{
    background-color: #332f30;
    color: white;   
}

.pink-button{
    background-color: #d83749;
    margin: 15px auto;
    width: 90%;
}

.already-user{
    text-align: center;
    color: white;
}

.transparent-input{
    background-color: transparent;
    color: white;
    padding-right: 16px;
}

// sign up css end