// sign up css start
.sign-up{
    background-color: #3c3637;
}

.sign-up-head{
    background-color: #332f30;
    color: white;   
}

.pink-button{
    background-color: #d83749;
    margin: 30px auto;
    width: 90%;
}

.already-user{
    text-align: center;
    color: white;
}

.transparent-input{
    background-color: transparent;
    color: white;
    padding-right: 16px;
}

.sign-up-logo-row img{
    margin: 0 auto;
    margin-top: 30px;
    height: 80px;
}

.transparent-input ion-label{
    margin-top: 0;
}

// sign up css end